{% block sw_property_detail_sorting_display_container %}
   
    {% parent %}

    <sw-custom-field-set-renderer
            v-if="propertyGroup"
            :entity="propertyGroup"
            :sets="customFieldSets">
    </sw-custom-field-set-renderer>


{% endblock %}