.extend-filter-button{
    background-color: #95383f;
    color: white;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    font-weight: bold;
}

.extend-filter-button:hover{
    background-color: #a52019;
}


.property-filter{
    display: none;
}

.property-filter1{
    display: block;
}