{% sw_extends 'administration/index.html.twig' %}

{% block administration_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/extendfilterbutton/administration/js/extend-filter-button.js') }}"></script>
{% endblock %}


