{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{# @var listing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
{% block component_filter_panel_element %}
    <template data-filter-button-plugin></template>

    <div class="filter-panel{% if sidebar %} is--sidebar{% endif %}">
        {% block component_filter_panel_items_container %}
            <div class="filter-panel-items-container">

                {% block component_filter_panel_item_manufacturer %}
                    {# @var manufacturers \Shopware\Core\Framework\DataAbstractionLayer\Search\AggregationResult\Metric\EntityResult #}
                    {% set manufacturers = listing.aggregations.get('manufacturer') %}
                    {% if not manufacturers.entities is empty %}
                        <div class="property-filter{{context.salesChannel.customFields.standard_important_filter_manufacturer}}">
                            {% sw_include '@Storefront/storefront/component/listing/filter/filter-multi-select.html.twig' with {
                                elements: manufacturers.entities,
                                sidebar: sidebar,
                                name: 'manufacturer',
                                displayName: 'listing.filterManufacturerDisplayName'|trans|sw_sanitize
                            } %}
                        </div>    
                    {% endif %}
                {% endblock %}

                {% block component_filter_panel_item_properties %}
                    {# @var properties \Shopware\Core\Framework\DataAbstractionLayer\Search\AggregationResult\Metric\EntityResult #}
                    {% set properties = listing.aggregations.get('properties') %}
 
                    {% if not properties.entities is empty %}
                        {% for property in properties.entities %}

                        <div class="property-filter{{property.translated.customFields.custom_important_filter_check}}">
                            {% sw_include '@Storefront/storefront/component/listing/filter/filter-property-select.html.twig' with {
                                elements: property.options,
                                sidebar: sidebar,
                                name: 'properties',
                                displayName: property.translated.name,
                                displayType: property.displayType,
                                pluginSelector: 'filter-property-select'
                            } %}
                        </div>    
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                {% block component_filter_panel_item_price %}
                    {% set price = listing.aggregations.get('price') %}

                    {% if price.min > 0 and price.max > 0 %}
                        <div class="property-filter{{context.salesChannel.customFields.standard_important_filter_price}}">
                            {% sw_include '@Storefront/storefront/component/listing/filter/filter-range.html.twig' with {
                                price: price,
                                sidebar: sidebar,
                                name: 'price',
                                minKey: 'min-price',
                                maxKey: 'max-price',
                                displayName: 'listing.filterPriceDisplayName'|trans|sw_sanitize,
                            } %}
                        </div>    
                    {% endif %}
                {% endblock %}

                {% block component_filter_panel_item_rating %}
                    {% set rating = listing.aggregations.get('rating') %}

                    {% if not rating is empty %}
                        <div class="property-filter{{context.salesChannel.customFields.standard_important_filter_rating}}">
                            {% sw_include '@Storefront/storefront/component/listing/filter/filter-rating.html.twig' with {
                                name: 'rating',
                                displayName: 'listing.filterRatingDisplayName'|trans|sw_sanitize
                            } %}
                        </div>    
                    {% endif %}
                {% endblock %}

                {% block component_filter_panel_item_shipping_free %}
                    {% set shippingFree = listing.aggregations.get('shipping-free') %}

                    {% if shippingFree.max > 0 %}
                        <div class="property-filter{{context.salesChannel.customFields.standard_important_filter_shipping_free}}">
                            {% sw_include '@Storefront/storefront/component/listing/filter/filter-boolean.html.twig' with {
                                name: 'shipping-free',
                                displayName: 'listing.filterFreeShippingDisplayName'|trans|sw_sanitize
                            } %}
                        </div>    
                    {% endif %}
                {% endblock %}

                {% block component_filter_button %}
                
                    <button class="extend-filter-button">{{ 'extendFilterPlugin.filterButton.filterButtonText' | trans }}</button>
                
                {% endblock %}
            </div>
        {% endblock %}

        {% block component_filter_panel_active_container %}
            <div class="filter-panel-active-container">
                {% block component_filter_panel_active_container_inner %}{% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}
                           